<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-justify-content-center ion-align-items-center full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h2>{{ count() }}</h2>
        <ion-button (click)="onIncrement()">Increment</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Tab 1 page"></app-explore-container>

</ion-content>
